# Ignore node_modules
node_modules/

# Ignore build artifacts and directories
/build
/dist

# Ignore local .env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore the .DS_Store file on macOS
.DS_Store

# Ignore the .vscode directory
.vscode/

# Ignore npm-debug.log
npm-debug.log*

# Ignore yarn-error.log
yarn-error.log*

# Ignore .idea directory
.idea/

# Ignore coverage directory
/coverage/

# Ignore .cache directory
.cache/

# Ignore Jest test results
/jest-test-results.json

# Ignore Mac-specific files
*.swp
*.swo
*.swn
*.swm
