.ruby-container {
    font-family: monospace;
    background-color: #1e1e1e;
    border-left: 5px solid #ee4d2e;
    padding: 10px;
    margin: 20px 0;
    white-space: pre-wrap;
    color:white;
}
.ruby-font-size-web{
    font-size: 16px;
}
.ruby-font-size-mobile{
    font-size: 12px;
}
.ruby-keyword {
    color: #ec2d86;
    font-weight: bold;
}
.ruby-method {
    color: #795da3;
}
.ruby-variable, .ruby-operator {
    color: #fdfdfd;
}
.ruby-number {
    color: #b5cea8; 
}
.ruby-string {
    color: #f1a61b; 
}
.ruby-comment {
    color: #969896;
    font-style: italic;
}
.ruby-print { 
 color: #df5000;
}
.ruby-method-name{
    color: #dcf11b; 
}
.ruby-green{
    color: #2ff715; 
}
.ruby-argument {
    color: #96ccf8; 
}
.ruby-argument-dark {
    color: #329bf1; 
}
